<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="./favicon.ico" />
    <link rel="apple-touch-icon" href="./logo.png" />
    <link rel="manifest" href="manifest.json" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="root"></div>
    <script>
        if ('serviceWorker' in navigator) {
            //判断浏览器是否支持
            window.addEventListener('load', function () {
                // window在加载的时候来注册“sw.js”这个文件。这个文件就是serviceWorker
                navigator.serviceWorker.register('sw.js')
                    .then(registration => {
                        // 返回一个promise
                        console.log("成功！");
                        console.log(registration)
                    })
                    .catch(err => {
                        console.log("失败")
                        console.log(err)
                    })
            })
        }
    </script>
</body>

</html>