$boxColor: rgb(219, 219, 215);

.box {
    background-color: rgba(145, 168, 190, 0.694);
    // margin-top: 5vh;
    // margin-left: 3vw;
    // position: absolute;
    width: 80vw;
    display: flex;
    flex-direction: column;
    border: 2px solid $boxColor ;
    border-radius: 10px;
    padding: 2vh;
    font-size: 10px;
    z-index: 1;
    margin-top: 1vh;
    padding-bottom: 10vh;

    .ratio {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;

        .ratio-ch {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            #rangex,
            #rangey {
                width: 30vw;
            }
        }
    }


    // background-color: #ffffffaa;

    .txt {
        font-size: 1rem;
        font-weight: 800;
        margin-top: 1vh;
        width: 45%;
    }

    #rangex,
    #rangey {
        -webkit-appearance: none;
        border-radius: 10px;
        box-shadow: 0 1px 1px #def3f8, inset 0 .100em .100em #0d1112;
        width: 45%;

        :-webkit-slider-thumb {
            height: 25px;
            width: 25px;
            margin-top: -5px;
            background: #ffffff;
            border-radius: 50%;
            border: solid 0.125em rgba(205, 224, 230, 0.5);
            box-shadow: 0 .125em .125em #3b4547;
        }

        :focus {
            outline: none;
        }
    }

    .input {
        margin-top: 1vh;
        height: 4vh;
        font-size: 0.4rem;
        border-radius: 10px;
        box-shadow: 0 1px 1px #def3f8, inset 0 .25em .25em #0d1112;

    }

    #rangex,
    #rangey {
        margin-top: 1vh;
    }

}